img{
    width: 30%;
    height: 85%;
    /* margin:1%; */
     margin: calc(10%/7.5); 
}

nav{
    text-transform:uppercase;
    border-bottom: 2px solid #f1f1f1;
    width:30%;
    margin-left:calc(10%/7.5);
    padding: 1.2em 0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 25px;
}